// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.centered-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto; /* adjust if needed */
  text-align: center;
  pointer-events: none; /* So clicks pass through, optional */
}